[build]
  command = "npm run build"
  publish = "dist"

[[headers]]
  for = "/*.js"
  [headers.values]
    Content-Type = "text/javascript"

[[headers]]
  for = "/*.wasm"
  [headers.values]
    Content-Type = "application/wasm"

# For client-side routing
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
